ul {
  li {
    p {
      font-family: "Helvetica Neue";
      font-size: 18px;
      letter-spacing: -1px;
      line-height: 18px;
      font-weight: 500;
    }
  }
}

.image-test {
  max-width: 100%;
}
