.contact{
  padding-top:50px;
}

ul {
  li {
    p {
      font-family: "Helvetica Neue";
      font-size: 18px;
      letter-spacing: -1px;
      line-height: 18px;
      font-weight: 500;
    }
  }
}

.contact-content{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.image-test {
  max-width: 100%; 
  padding-top: 50px;
}
