.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: "all 0.25s ease-in-out";
  background-color: #191919;
  color: #dbd8d6;
  h1 {
    font-size: 1.5vw;
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
  }
  h2 {
    font-size: 1vw;
    text-transform: uppercase;
    font-family: "Helvetica", serif;
    font-style: italic;
    margin-top: 10px;
  }
}
.home-section-right {
  display: flex;
  h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    transform: rotateY(0deg) rotate(90deg);
    text-decoration: underline;
  }
}

.absolute {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  z-index: 1;
}

.home-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
