.about-section {
  p {
    font-family: "Helvetica Neue";
    font-size: 102px;
    line-height: 83px;
    letter-spacing: -6.9px;
    font-weight: 500;
    opacity: 0;

    > div {
      opacity: 0;
      transform: translateY(0px);
    }
    &.is-reveal {
      opacity: 1;
    }
  }
}
