.about-section {
  p {
    font-family: "Helvetica Neue";
    font-size: 102px;
    line-height: 83px;
    letter-spacing: -6.9px;
    font-weight: 500;
    opacity: 0;

    > div {
      opacity: 0;
      transform: translateY(0px);
    }
    &.is-reveal {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 600px) {
  .about-section p {
    font-family: "Helvetica Neue";
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -2.9px;
    font-weight: 500;
    text-align: inherit;
  }
}
