.row {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  color: #181818;

  h1 {
    color: #232323;
    font-size: 5em;
  }
  .s-column {
    border-left: 3px solid #fe5900;
    padding-left: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .row {
    flex-direction: column;
    .s-column {
      border-bottom: 3px solid #fe5900;
      border-left: none;
      padding-left: 0;
    }
  }
}
