ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 0;
}

h3 {
  font-size: 12x;
}

.home-slider {
  z-index: 100;
}

.home-slider-container {
  display: flex;
  flex-direction: row;
}

.column-left {
  display: flex;
  justify-content: space-between;

  width: 400%;
}
.slider-content-left {
  ul {
    position: absolute;
    overflow: hidden;

    li {
      opacity: 0;
      &:nth-child(1) {
        opacity: 1;
      }
    }
  }
}
.slider-content-right {
  width: 50%;
  ul {
    position: relative;
    overflow: hidden;
    li {
      opacity: 0;
      &:nth-child(1) {
        opacity: 1;
      }
    }
  }
}
.arrows {
  display: flex;
  justify-content: space-around;
}
.arrow-left,
.arrow-right {
  display: inline-block;
  cursor: pointer;
}
