ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 0;
}

h3 {
  font-size: 12x;
}

.home-slider {
  z-index: 100;
}

.home-slider-container {
  display: flex;
  flex-direction: row;
}

.column-left {
  display: flex;
  width: 300%;
}
.slider-content-left {
  ul {
    li {
      position: absolute;
      opacity: 0;
      &:nth-child(1) {
        opacity: 1;
      }
    }
  }
}
.slider-content-right {
  ul {
    position: relative;
    left: 200px;
    li {
      position: absolute;

      opacity: 0;
      &:nth-child(1) {
        opacity: 1;
      }
    }
  }
}
.arrows {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}
.arrow-left,
.arrow-right {
  display: inline-block;
  cursor: pointer;
}

.column-right {
  display: flex;
  justify-content: flex-end;
  .slider-image {
    display: flex;
    justify-content: flex-end;
    height: 80vh;
    ul {
      display: flex;
      position: absolute;
      overflow: hidden;
      height: 80vh;
      width: 33vw;
      box-shadow: 0px 0px 40px rgba(0, 0, 10, 0.25);
      li {
        height: 80vh;
        width: 33vw;
        img {
          height: 80vh;
          width: 33vw;
        }
      }
    }
  }
}
